@page
@model LoginModel

@{
    ViewData["Title"] = "تسجيل الدخول";
    Layout = "/Views/Shared/_signIn-signUpLayout.cshtml";
}

@* 
<div class="row">

    <div class="col-md-4">
        <section>
            <form id="account" method="post">
                <h2>Use a local account to log in.</h2>
                <hr />
                <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>

                <div class="form-floating mb-3">
                    <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" placeholder="name@example.com" />
                    <label asp-for="Input.Email" class="form-label">Email</label>
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>
                <div class="form-floating mb-3">
                    <input asp-for="Input.Password" class="form-control" autocomplete="current-password" aria-required="true" placeholder="password" />
                    <label asp-for="Input.Password" class="form-label">Password</label>
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>
                <div class="checkbox mb-3">
                    <label asp-for="Input.RememberMe" class="form-label">
                        <input class="form-check-input" asp-for="Input.RememberMe" />
                        @Html.DisplayNameFor(m => m.Input.RememberMe)
                    </label>
                </div>
                <div>
                    <button id="login-submit" type="submit" class="w-100 btn btn-lg btn-primary">Log in</button>
                </div>
                <div>
                    <p>
                        <a id="forgot-password" asp-page="./ForgotPassword">Forgot your password?</a>
                    </p>
                    <p>
                        <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Register as a new user</a>
                    </p>
                    <p>
                        <a id="resend-confirmation" asp-page="./ResendEmailConfirmation">Resend email confirmation</a>
                    </p>
                </div>
            </form>
        </section>
    </div>
    <div class="col-md-6 col-md-offset-2">
        <section>
            <h3>Use another service to log in.</h3>
            <hr />
            @{
                if ((Model.ExternalLogins?.Count ?? 0) == 0)
                {
                    <div>
                        <p>
                            There are no external authentication services configured. See this <a href="https://go.microsoft.com/fwlink/?LinkID=532715">article
                            about setting up this ASP.NET application to support logging in via external services</a>.
                        </p>
                    </div>
                }
                else
                {
                    <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal">
                        <div>
                            <p>
                                @foreach (var provider in Model.ExternalLogins!)
                                {
                                    <button type="submit" class="btn btn-primary" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account">@provider.DisplayName</button>
                                }
                            </p>
                        </div>
                    </form>
                }
            }
        </section>
    </div>
</div>

 *@




    <section>
        <div class="">

            <div class="row ">
                <img src="" />

                <div id="sign-in-img" class="col-lg-6" style="">
                    <img src="~/imgs/astronaut-suit-cuate.svg" />
                </div>

                <div class="col-lg-6  " style="min-height: 100vh;">


                    <div class="row d-flex flex-column align-items-center justify-content-around">

                        <div class=" p-4 d-flex justify-content-around align-items-center ">
                            <a class="" href="#"><img src="~/imgs/WhatsApp Image 2024-02-04 at 11.31.47 AM(1).jpeg" alt="logo" style="width: 80px;" class=" rounded-pill"></a>
                        </div>

                        <h5 class="text-center mb-4">تسجيل الدخول إلى حسابك </h5>
                       


                        @{
                            if ((Model.ExternalLogins?.Count ?? 0) != 0)
                            {
                                <form  id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="col-xl-6">
                                    <div>
                                        <p>
                                            @foreach (var provider in Model.ExternalLogins!)
                                            {
                                                <div class="w-100 text-center mb-5 mt-3">
                                                <button type="submit" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account" style="background-color:white; color: black;border: 1px solid #0000004d; padding: 10px 60px;border-radius: 10px;outline:none">تسجيل الدخول باستخدام @provider.Name <i class="ri-@(provider.Name)-fill mx-3"></i></button>
                                                </div>
                                            }
                                        </p>
                                    </div>
                                </form>
                            }
                            
                        }

                        

                        <div class="row d-flex justify-content-center align-items-center ">
                            <span class="col-2" style="height: 2px; background-color: #000000a4;"></span>
                            <span class="col-1 text-center">أو</span>
                            <span class="col-2" style="height: 2px; ;background-color: #000;"></span>
                        </div>

                        <form class="col-lg-6 col-md-8 col-sm-8 mt-5 " id="account" method="post">

                             <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>



                            <div class=" mb-3">
                                <label asp-for="Input.Email" class="form-label">البريد الاكتروني</label>
                                <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" placeholder="name@example.com" />
                                <span asp-validation-for="Input.Email" class="text-danger"></span>
                            </div>
                            <div class=" mb-3">
                                <label asp-for="Input.Password" class="form-label">كلمة المرور</label>
                                <input asp-for="Input.Password" class="form-control" autocomplete="current-password" aria-required="true" placeholder="password" />
                                <span asp-validation-for="Input.Password" class="text-danger"></span>
                            </div>

                            <div class="d-flex align-items-center justify-content-between mb-4">

                                <div class="form-check">
                                    <label asp-for="Input.RememberMe" class="form-label">
                                        <input class="form-check-input" asp-for="Input.RememberMe" />
                                        @Html.DisplayNameFor(m => m.Input.RememberMe)
                                    </label>
                                </div>

                            <a class=" fw-light text-decoration-none text-dark" id="forgot-password" asp-page="./ForgotPassword">نسيت كلمة المرور؟</a>
                            </div>
                            <button id="login-submit" type="submit" class="my-primary-btn w-100">تسجيل الدخول</button>


                            <div class="text-center mt-5">
                                <p class=" fw-light">لست عضوا؟<a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl" class="fw-light ms-2 text-decoration-none my-text-primary">سجل</a> </p>

                            </div>
                        </form>
                    </div>

                </div>

            </div>
        </div>
    </section>




@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}


